*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ....................................header.................................... */

.top{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f79c6d ;
    height: 70px;
}.icons{
    background-color: #f79c6d;
}

.fa-twitter ,.fa-instagram , .fa-facebook , .fa-youtube , .fa-telegram , .fa-linkedin {
    font-size: 20px;
    margin: 10px;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white ;
    padding: 10px;
}

.contact{
    padding: 20px;
    font-size: 18px;

}
.contact > span{
    color: white;
    margin: 5px;
}
.req-button > button{
    border: 1px solid white;
    border-radius: 30px;
    width: 170px;
    height: 50px;
    background-color: #f79c6d;
    color: white;
}

/* .....................................navbar........................................ */

.nav-div{
    display: flex;
    justify-content: space-around;
}
.left{
    display: flex;
    padding: 10px;
    margin-top: 10px;
}
.center > ul{
    display: flex;
    margin-top: 10px;
}
.list > li{
    list-style: none;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}
.buy{
    background-color: #f79c6d ;
    height: 60px;
    padding: 10px;
}
.right{
    padding: 10px;
}
.fa-magnifying-glass{
    font-size: 30px;
    background-color: black;
    color: white;
    height: 60px;
    padding: 10px;
}
.img{
    border: 1px solid  black;
    width: 100%;
    height: 400px;
}